name: Update Release PR or Publish
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/main.yaml'
      - '.github/workflows/publish.yaml'
      - '.github/actions/setup-node/action.yaml'
      - 'packages/**'
      - 'package.json'
      - 'yarn.lock'

permissions:
  pull-requests: write
  contents: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout bifold-wallet
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'

      - name: Setup NodeJS
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Upgrade npm for Trusted Publishers support
        run: |
          npm install -g npm@^11

      - name: Update release PR or publish to npm
        id: changesets
        uses: changesets/action@6a0a831ff30acef54f2c6aa1cbbc1096b066edaf # v1.7.0
        with:
          title: 'chore(release): new version'
          commit: 'chore(release): new version'
          publish: yarn release
          version: yarn changeset-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true

      - name: Get current package version
        id: get_version
        run: echo "version=$(node -p "require('./packages/core/package.json').version")" >> $GITHUB_OUTPUT

      - name: Create GitHub release
        if: "startsWith(github.event.head_commit.message, 'chore(release): new version')"
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: v${{ steps.get_version.outputs.version }}
