name: Code Quality

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-22.04
    name: Linting and formatter
    steps:
      - name: Checkout aries-mobile-agent-react-native
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'

      - name: Setup NodeJS
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build Workspace
        run: |
          yarn build

      - name: Run formatter
        run: |
          yarn prettier

      - name: Run linter
        run: |
          yarn lint

  test:
    runs-on: ubuntu-22.04
    name: Testing
    steps:
      - name: Checkout aries-mobile-agent-react-native
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'

      - name: Setup NodeJS
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build Workspace
        run: |
          yarn build

      - name: Automated testing
        run: |
          yarn coverage

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: always()
